<!-- file_upload.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}
<div class="row">

    <div class="col-md-2 col-md-offset-1 block-center">
        <p class="lead">
            <form id="ajaxform" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-success btn-block">Upload</button>
            </form>
        </p>
    </div>

    <div class="col-md-6 col-md-offset-2 block-center">{% include 'file_listing_template.html' %}</div>

</div>
{% endblock content_container %}

{% block js_include %}{% endblock js_include %}