<!-- home.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NFLRC PBLL Repository</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- Site-wide css -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <!-- Bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Placeholder for page-level css includes -->
    {% block css_include %} {% endblock css_include %}

</head>

<body>
    <div class="container">

        <div class="row">
            <div class="col-xs-2">
                <p><img src="{% static 'img/pbllrepo-icon.jpg' %}" width="75%"></p>
            </div>
            <div class="col-xs-10">
                <p class="lead" style="font-size: 4.0em">Pebbles</p>
                <p class="lead">
                    Project Based Language Learning Prototypes
                </p>
                <p>
                    <a href="{% url 'list_prototypes' %}" class="static_a_display"><button type="button" class=" btn btn-md btn-primary">browse <i class="fa fa-list"></i></button></a>
                    <a href="{% url 'create_prototype' %}" class="static_a_display"><button type="button" class=" btn btn-md btn-success"><i class="fa fa-plus"></i> create </button></a> 
                </p>
            </div>

            
        </div>

        <div class="row">
            <hr>
            <div class="col-md-12 text-left">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-link dropdown-toggle btn-color-flat static_a_display" data-toggle="dropdown"><i class="fa fa-filter"></i> <span id="toggle-label">language</span> </button> <ul class="dropdown-menu">
                        <li><a href="#" class="filterbtn" data-filter="*"> show all </a></li>
                        {% for k, v in languages.items %}
                            <li><a href="#" class="filterbtn" data-filter=".{{k}}"> {{ k }} ({{ v }}) </a></li>
                        {% endfor %}
                    </ul> 
                </div>
                <a href="#" class="sortbtn btn btn-sm btn-link btn-color-flat static_a_display" data-sort="lname"> <i class="fa fa-sort-alpha-asc"></i> author </a>

                <a href="#" class="sortbtn btn btn-sm btn-link btn-color-flat static_a_display" data-sort="title"> <i class="fa fa-sort-alpha-asc"></i> title </a>

                <a href="#" class="sortbtn btn btn-sm btn-link btn-color-flat static_a_display" data-sort="modified"><i class="fa fa-sort-alpha-asc"></i> modified </a>

                <a href="#" class="filterbtn btn btn-sm btn-link btn-color-flat static_a_display" data-filter="*"> <i class="fa fa-refresh"></i> </a>

                <hr height="2">
            </div>

            <div class="col-md-12 center-block" id="brickwall">

            {% for i in prototype_list %}
                <div class="brick well bs-bg-white {% for k in i.get_languages %} {{k}} {% endfor %}" data-title="{{i|slugify}}" data-mod="{{ i.modified|date:'Ymd' }}">
                    <h6 class="tiny">{{ i.modified|date:'M j, Y' }}</h6>
                    <a href="{% url 'docview_prototype' i.id %}" class="static_a_display">
                        <div>
                            <h2>
                                {% if i.icon %}<div style="width: 220px"><img width="100%" src="{{ i.icon.url }}"></div>{% endif %}
                                <h4>{{ i }}</h4>
                            </h2>
                            <h5>by {{ i.creator.first_name }} <span class="lname">{{ i.creator.last_name }}</span></h5>
                        </div>
                    </a>

                    <p></p>
                    <p>{{ i.description | truncatechars_html:140 | safe }}</p>
                    

                </div>
                <p></p>
            {% endfor %}

            </div>

        </div>


    </div>


    <!-- Isotope visual filtering library -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- Packery layout library -->
    <script src="{% static 'js/packery-mode.pkgd.min.js' %}"></script>

    <script type="text/javascript">
        var $container = $('#brickwall');
        $container.isotope({
            layoutMode: 'packery',
            packery: {
              gutter: 10,
            },
            itemSelector: '.brick',

            getSortData: {
                lname: '.lname',
                title: '[data-title]',
                modified: '[data-mod]',
            }
        });

        $('.sortbtn').on('click', function() {
            var $v = $(this).attr('data-sort');
            var $b = $(this).children('.fa');
            if( $b.hasClass('fa-sort-alpha-desc') ) {
                $container.isotope({ sortBy: $v, sortAscending: false });
                $b.toggleClass('fa-sort-alpha-desc fa-sort-alpha-asc');

            } else {
                $container.isotope({ sortBy: $v, sortAscending: true });
                $b.toggleClass('fa-sort-alpha-desc fa-sort-alpha-asc');
            }
        });

        $('.filterbtn').on('click', function() {
            var $v = $(this).attr('data-filter');
            if($v !== "*")
                $("#toggle-label").html($v.substring(1));
            else 
                $("#toggle-label").html("language");

            $container.isotope({ filter: $v });
        });

        $container.isotope({ sortBy: 'title' });

    </script>

</body>
