<!-- task_update.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row"><div class="col-md-8 col-md-offset-2 block-center">
    <p class="lead">
        <form method="post" action=".">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-lg btn-success" name="updateme">Update Project Task</button>
        </form>
    </p>
</div></div>


{% endblock content_container %}

{% block js_include %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock js_include %}