<!-- task_create_update.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
        <i class="fa fa-caret-left"></i><a href="{% url 'view_prototype' prototype_project.id %}" class="static_a_display btn btn-link btn-md">{{ prototype_project }} Project</a>
        <i class="fa fa-caret-left"></i><a href="{% url 'view_all_tasks' prototype_project.id %}" class="static_a_display btn btn-link btn-md">Task List</a>
        </p>
    </div>

    <div class="col-md-10 col-md-offset-1" style="">
        <p>{{ edit_text }}</p> 
        <h3> {{ project_task }} in project {{ prototype_project }}</h3>
    </div>

    <div class="col-md-6  col-md-offset-1 block-center">

        <form id="taskform" method="post" action=".">{% csrf_token %}
            {{ form|crispy }}
             <!-- workaround for nonfocusable tinymce widgets => submit handled by javascript below -->
            <button id="savebtn" class="btn btn-success ">Save</button>
        </form>

    </div>

    <div class="col-md-4 block-center">
        <a href="#filebrowser" data-toggle="collapse" aria-expanded="false" aria-controls="filebrowser" class="static_a_display"><button class="btn">Browse project files</button></a>
        {% include "file_upload_btn_template.html" %}
        <div id="filebrowser" class="collapse">
            <div>{% include "file_listing_template.html" %}</div>
        </div>
    </div>
</div>
{% endblock content_container %}

{% block js_include %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#savebtn").on("click", function(e) {
            $("#taskform").submit()
        });
    });
</script>
{% endblock js_include %}