<!-- task_create.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row">
    <div class="col-md-8 block-center">
        <p class="lead">
            {{ edit_text }} {{ prototype_project }}

            <form method="post" action=".">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-lg btn-success btn-block">Save</button>
            </form>
        </p>
    </div>

    <div class="col-md-4 block-center">
        <a href="#filebrowser" data-toggle="collapse" aria-expanded="false" aria-controls="filebrowser" class="static_a_display"><button class="btn">Browse uploaded files</button></a>
        {% include "file_upload_btn_template.html" %}
        <div id="filebrowser" class="collapse">
            <div>{% include "file_listing_template.html" %}</div>
        </div>
    </div>
</div>


{% endblock content_container %}